<p id="notice"><%= notice %></p>
<div class="row">


    <div class="col-md-9">
    <h1>Students</h1>
        <% @students.each do |student| %>
            <div class="well">
                <%= student.name %>
                <%= student.age %>
                <%= student.email %>
                <%= link_to 'Show', student , class:'btn btn-primary'%>
                <%= link_to 'Edit', edit_student_path(student), class: 'btn btn-primary' %> 
                <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-warning'  %>
            </div>
    <% end %>
    </div>

    <div class="col-md-3">
        <%= render 'form', student: @new_student %>
    </div>
</div>